.div-size{
    height: nth($sizes, 3);
}

.img-size{
    width: nth($sizes, 2);
    height: nth($sizes, 3);
}

@media (max-width: 576px){
    .display-carrusel{
        display: map-get($dpl, n)
    }
}

//responsive

.responsive{
    @extend %indexresponsive
}

.img-celu{
    display: map-get($dpl, n);
    height: nth($sizes, 4);
    width: nth($sizes, 2);
}

@media (max-width:576px){
    .img-celu{
        display: map-get($dpl, b);
    }
}

.h1-responsive{
    @extend %TextBox;
    font-size: 17px !important;
}

@media (min-width:576px){
    .h1-responsive{
        display: map-get($dpl, n);
        @extend %TextBox;
    }
}