.div-nosotros{
    display: nth($display, 1);
    height: nth($sizes, 3);
    width: nth($sizes, 2);
    background-image: url(https://pbs.twimg.com/media/DzXjDxlWkAEmVI2?format=jpg&name=4096x4096);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    justify-content: center;
    align-items: center;
}

.historia{
    width: 60%;
    display: nth($display, 1);
    flex-direction: nth($flexdire, 1);
    align-items: nth($lugar, 1);
    justify-content: nth($lugar, 1);
    h4{
        font-family: 'Cormorant Upright', serif;
        font-style: nth($f-style, 1);
        font-weight: nth($sizes, 9);
        font-size: nth($sizes, 8);
        color: white;
    }
    p{
        font-family: 'Cormorant Upright', serif;
        font-weight: 300;
        font-size: nth($sizes, 1);
        color: white;
        padding-left: nth($sizes, 1);
    }
}

.div-containerr{
    display: nth($display, 1);
    justify-content: space-evenly;
    align-items: nth($lugar, 1);
    flex-direction: column;
    width: 70%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 6px;
    font-size: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.h4-form{
    font-family: 'Cormorant Upright', serif;
    font-style: nth($f-style, 1);
    font-weight: nth($sizes, 9);
    font-size: 24px;
    color: white;
}



@media (max-width: 576px){
    .div-nosotros{
        display: nth($display, 1);
        height: nth($sizes, 3);
        width: nth($sizes, 2);
        background-image: url(https://pbs.twimg.com/media/DzXjDxlWkAEmVI2?format=jpg&name=4096x4096);
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: multiply;
        justify-content: center;
        align-items: center;
    }
    
    .historia{
        width: 100%;
        display: nth($display, 1);
        flex-direction: nth($flexdire, 1);
        align-items: nth($lugar, 1);
        justify-content: nth($lugar, 1);
        h4{
            font-family: 'Cormorant Upright', serif;
            font-style: nth($f-style, 1);
            font-weight: nth($sizes, 9);
            font-size: nth($sizes, 8);
            color: white;
        }
        p{
            font-family: 'Cormorant Upright', serif;
            font-weight: 300;
            font-size: 16px;
            color: white;
            padding-left: nth($sizes, 1);
        }
    }
    
    .div-containerr{
        display: nth($display, 1);
        justify-content: space-evenly;
        align-items: nth($lugar, 1);
        flex-direction: column;
        width: 70%;
    }
    
    form {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }
    
    label {
        font-weight: bold;
        font-family: 'Josefin Sans', sans-serif;
        color: white;
    }
    
    input[type="text"],
    input[type="number"],
    input[type="tel"],
    input[type="email"] {
        width: 100%;
        padding: 6px;
        font-size: 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type="submit"] {
        width: 100%;
        padding: 8px;
        font-size: 16px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type="submit"]:hover {
        background-color: #45a049;
    }
    
    .h4-form{
        font-family: 'Cormorant Upright', serif;
        font-style: nth($f-style, 1);
        font-weight: nth($sizes, 9);
        font-size: 18px;
        color: white;
        width: 100%;
    }
    
}