$color:
#DEA450
#9b461f
#fff
#ffffff
#ad8b5a
#f0f0f0
rgb(77, 84, 90);

$font:
'Cormorant Upright', serif,
'Josefin Sans', sans-serif,
'Roboto Condensed', sans-serif;

$f-style:
italic;

$sizes:
20px,
100%,
706px,
600px,
13px,
110px,
large,
30px,
600,
800,
25px;

$position:
absolute,
relative;

$lugar:
center,
end,
start,
hidden,
flex-start;

$display: 
flex,
block,
none;

$flexdire:
column,
column-reverse;